header {
    background: #BBBBBB;
    padding: 20px 0;
    }
.logo:hover {
    width: 120%;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
   
    
    }
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: aqua;
    font-size: 22px;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
}
.produtos li:hover{
    border-color: #3c46a7;
}
.produtos li:active {
    border-color: #e8eb63;
}
.produtos li:hover h2{
    font-size: 34px;
}
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}
.descricao {
    font-size: 20px;
    
}
.preco {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}
footer {
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 40px;
    background:url(./images/bg.jpg);
}
main {
    width: 940px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    
}
form {
    margin: 40px;
    justify-content: center;
    
}
form label {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
}
.perguntas {
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-weight: 500;
    margin-bottom: 10px;
}
.hora-contato {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
form input, textarea {
    font-weight: 600;
}
.input-text {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
}
.check {
    margin: 0, 10px;
}
.enviar {
    width: 20%;
    padding: 5px;
    background-color: #494949;
    color: #ffffff;
    border-radius:20%;
    cursor: pointer;
}
.enviar:hover {
    
    transition: 500ms transform;
    transform: scale(1.2);
}
.funcionamento{
    position: relative;
    margin: 40px;
    text-align: center;
    width: 50%;
    padding: 10px;
    border:solid 1px #000000;
}
.cabecalho{
    background: #494949;
    color: #FFFFFF;
    padding: 5px;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium';
    font-weight: 600;
}
.cabecalho th{
    border:solid 3px #000000;
}
.horariosfunc {
    color: #494949;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium';
    font-weight: 400;
    
}
.horariosfunc td{
    border:solid 1px #000000;
}