@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Playfair+Display&display=swap');
body {
    font-family: 'Mukta';
}
/* Header Style */
header {
    background: #BBBBBB;
    padding: 20px 0;
    
    }
.logo:hover {
    width: 120%;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
   
    
    }
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: aqua;
    font-size: 22px;
}

/* Página Inicial Style */
main {
    
    display:flex;
    flex-direction: column;
    
}
.principal {
    padding: 3rem 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}
.banner {
    width:100%;
    position: relative;
}
.titulo {
    text-align: center;
    font-size: 2rem;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 500;
    clear: left;
}

.utens {
    width: 100px;
    float: left;
    margin-right: 10px;
}
.principal p {
    font-size: 1rem;
    margin-bottom:1em;
}
.principal strong {
    font-weight: 600;
}
.principal em {
    font-style: italic;
}
.localizacao {
    padding: 1em;

}
.mapa-container {
    background: linear-gradient(#FEFEFE, #888888);
    
    
}
.mapa {
    width: 940px;
    height: 540px; 
    margin: 0 20%;
        
}
.beneficios {
    padding: 3rem 0;
    background: #888888
}
.conteudo-bene {
    width: 640px;
    margin: 0 auto;
    display: flex;
    vertical-align: top;
}    
.lista-bene {
    width: 40%;
    font-size: 1.2rem;
}
.itens {
    line-height: 1.2em;
    cursor: default;
}
.itens::before{
    content: "✌";
}
.itens:hover {
    font-weight: 600;
}
.imagembeneficios {
    width: 60%;
    margin: 10px;
    opacity: 1;
    transition: 400ms;
    
}
.imagembeneficios:hover{
    opacity: 0.4;
    box-shadow: 5px 5px 10px 10px #c2c255;
}
.youtube-video {
    margin-top: 10px;
    width: 40%;
    height: 300px;
    margin-left: 30%;
}
/* Produtos Style*/
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
}
.produtos li:hover{
    border-color: #3c46a7;
}
.produtos li:active {
    border-color: #e8eb63;
}
.produtos li:hover h2{
    font-size: 34px;
}
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}
.descricao {
    font-size: 20px;
    
}
.preco {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}
footer {
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 40px;
    background:url(./images/bg.jpg);
}

/* Contatos */

form {
    margin: 40px;
    justify-content: center;
    
}
form label {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
}
.perguntas {
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-weight: 500;
    margin-bottom: 10px;
}
.hora-contato {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
form input, textarea {
    font-weight: 600;
}
.input-text {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
}
.check {
    margin: 0, 10px;
}
.enviar {
    width: 20%;
    padding: 5px;
    background-color: #494949;
    color: #ffffff;
    border-radius:20%;
    cursor: pointer;
}
.enviar:hover {
    
    transition: 500ms transform;
    transform: scale(1.2);
}
.funcionamento{
    position: relative;
    margin: 40px;
    text-align: center;
    width: 50%;
    padding: 10px;
    border:solid 1px #000000;
}
.cabecalho{
    background: #494949;
    color: #FFFFFF;
    padding: 5px;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium';
    font-weight: 600;
}
.cabecalho th{
    border:solid 3px #000000;
}
.horariosfunc {
    color: #494949;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium';
    font-weight: 400;
    
}
.horariosfunc td{
    border:solid 1px #000000;
}
/* Responsive */
@media (max-width: 768px) {
    .caixa, .principal, .conteudo-bene, .mapa{
        width: 100%;
        margin: 0;
        
    }
    .youtube-video{
        width: 100%;
        margin: 0;
    }
    h1 {
        text-align: center;
            }
    nav {
        position: static;
    }
   
    }