body {
    
}
.cima{
padding-left: 20px;
}
#banner {
    width: 100%;
    
}
.principal {
    background: #cccccc;
    padding: 30 px;
}
h2 {
    text-align: center;
    border: 2px solid #000000;
    padding: 2px;
    margin: 20px;
}
p{
    text-align: center;
    

}
#missao {
    font-size: 20px
}
strong em {
    color:rgb(230, 19, 19)
}
.lista1 {
    font-style: italic;
}
.beneficios {
    padding: 20px;
    background: white;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: auto;
}
.beneficios h2 {
    text-align: center;
}
.beneficios #bannerbene{
    width: 50%;
}